<html>

<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="content-wrapper">
        <div class="box-with-shadow coronavirus-box">
            <ul class="corona-list">
                <li class="corona-list-item"><a
                        href="https://helsingborg.se/nyheter/information-om-coronavirussjukdomen-covid-19/">Information
                        om coronaviruset - Håll ut och håll avstånd.</a></li>
                <li class="corona-list-item"><a
                        href="https://helsingborg.se/nyheter/information-about-corona-virus-and-covid-19-in-other-languages/">Information
                        about corona in other languages (helsingborg.se).</a></li>
            </ul>
        </div>
    </div>
    </div>
</body>

</html>