<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="customer-feedback">

        <div class="customer-feedback-box">

            <div class="customer-feedback-text-box">
                <h4 class="customer-feedback-title-box "><i class="fa fa-question-circle"></i> Fick du hjälp av
                    informationen på sidan?</h4>
                <p class="customer-feedback-paragraph-box">Här kan du lämna feedback om informationen på sidan. Du får
                    inte svar på din feedback.
                    Har du frågor eller vill komma i kontakt med Helsingborgs stad kan du vända dig till
                    <span class="kontaktcenter"><a href="https://helsingborg.se/kontaktcenter">Kontaktcenter</a></span>.
                    Tack för att du hjälper oss att göra webbplatsen bättre.
                </p>
            </div>

            <div class="customer-feedback-btn-box">
                <button class="customer-feedback-btn-ja">Ja</button>
                <button class="customer-feedback-btn-nej">Nej</button>
            </div>

        </div>
    </div>

</body>

</html>