<!Doctype html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
        <title>Accordion template</title>
    </head>
    <body>
        <div class="accordion-container">
            <div class="accordion-title-text">
                <h1>Vanliga frågor</h1>
                <button class="accordionbutton">Fakturafrågor</button>
                <div class="accordion-content">
                    <p>Du kan chatta med eller ringa till kontaktcenter om du vill ha hjälp med något av följande:</p>
                    <ul>
                        <li>Fakturakopia, OCR-nummer eller belopp.</li>
                        <li>Samt även autogiroblankett dock endast för hemvårdsinsatser.</li>
                    </ul>
                    <p>Behöver du få hjälp med att tolka en faktura ringer du den referens på det telefonnummer som står längst ner till vänster på din faktura.</p>
                    <p>Tips: Anmäl dina fakturor från Helsingborgs stad som e-faktura. Då tappar du inte bort dem! Anmälan om e-faktura gör du hos din bank!</p>
                </div>
                <button class="accordionbutton"> Hur anmäler jag till SFI?</button>
                <div class="accordion-content">
                    <p>Anmäl dig till SFI på länken nedan.</p>
                    <p>När du har anmält dig så kommer du att få ett e-mejl skickat till dig. Kontrollera så att detta inte har hamnat i din skräppost.</p>
                    <p>I mejlet får du en länk till att välja vilken skola du ska gå på.</p>
                    <p>När du har valt skola så kommer du att få instruktioner i ett nytt mejl från skolan.</p>
                    <p><a href="#">Klicka här för att läsa mer och anmäla dig till SFI</a></p>
                </div>
                <button class="accordionbutton"> Hur bäställer jag mina gymnasiebetyg?</button>
                <div class="accordion-content">
                    <p>Gymnasiebetyg som är äldre än fyra år ska finnas på stadsarkivet. Betyg som är yngre än fyra år beställs genom skolan du gick på.</p>
                    <p><a href="#">Klicka här för att komma till beställningsformulär för stadsarkivet.</a></p>
                    <p><a href="#">Klicka här för att komma till stadens grund och gymnasieskolor.</a></p>
                </div>
                <button class="accordionbutton"> Hur läser jag upp mina betyg?</button>
                <div class="accordion-content">
                    <p>Vet du vad du ska läsa så ansöker ni genom denna e-tjänsten</p>
                    <p><a href="#">https://eservice.helsingborg.se<br>/MenuGroup2.aspx?groupId=36</a></p>
                    <p>Vet du INTE vad du ska studera så kan ni läsa om vad dina förkunskapskrav bör vara för varje utbildning i utbildningens informationsdel. Ni finner samtliga utbildningar här</p>
                    <p><a href="#">https://helsingborg.se/forskola-och-utbildning/vuxenutbildning/utbildningar/</a></p>
                    <p>Hjälper inte den informationen dig kan ni alltid mejla till<a href="mailto:syv.amf@helsingborg.se">mailto:syv.amf@helsingborg.se</a> där ni beskriver er fråga tillsammans med namn, telefon, hemkommun och personnummer.</p>
                </div>
                <button class="accordionbutton"> När får jag mina pengar?</button>
                <div class="accordion-content">
                    <p>Du kan hitta information om ditt ekonomiska bistånd genom att logga in här</p>
                    <p><a href="#"> https://ticket.siriusit.net/authn-menu.dialog?sessionid=4b5b3<br>7e6a3eb001994ba3b<br>15cfbea8d8cbf4a42a57</a></p>
                </div>
            </div>
        </div>
        <script src="accordion-java.js"></script>
    </body>
</html>