<!Doctype html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"> 
        <title>Accordion template(large one)</title>
    </head>
    <body>
        <div class="accordion-container">
            <button class="accordionbutton">Anhörig eller närstående</button>
                <div class="accordion-content" >
                     <button class="accordionbutton">Avlastning och återhämtning</button>
                       <div class="accordion-content">
                        <ul>
                            <li class="accordionli"><a  href="#">Avlösning i hemmet</a></li>
                            <li class="accordionli"><a href="#">Dygnsavlösning</a></li>
                        </ul>
                       </div>
                         <ul>
                             <li><a href="#">Frågor och svar med anledning av coronaviruset</a></li>
                             <li><a href="#">Informationsträffar, självhjälpsgrupper och föreläsningar</a></li>
                             <li><a href="#">Anhörigstöd på nätett</a></li>
                         </ul>
                 </div>
            <button class="accordionbutton">Funktionsnedsättning</button>   
               <div class="accordion-content">
                   <ul>
                    <li class="accordionli"><a href="#">Aktiviteter och fritid</a></li>
                    <li class="accordionli"><a href="#">Bostadsanpassning</a></li>
                    <li class="accordionli"><a href="#">Färdtjänst</a></li>
                    <li class="accordionli"><a href="#">Hemvård</a></li>
                    <li class="accordionli"><a href="#">Hjälpmedel</a></li>
                    <li class="accordionli"><a href="#">Parkeringstillstånd för rörelsehindrad</a></li>
                   </ul>
                   <button class="accordionbutton">Rådgivare</button>
                     <div class="accordion-content">
                         <ul>
                            <li class="accordionli"><a href="#">Vanliga frågor och svar</a></li>
                         </ul>
                     </div>
                    <button class="accordionbutton">Stöd enligt LSS</button>  
                     <div class="accordion-content">
                         <ul>
                            <li class="accordionli"><a href="#">Avlösarservice i hemmet</a></li>
                         </ul>
                         <button class="accordionbutton">Boende med särskild service</button>
                          <div class="accordion-content">
                            <button class="accordionbutton">Boende för vuxna</button>
                             <div class="accordion-content">
                                 <ul>
                                    <li class="accordionli"><a href="#">Gruppbostäder och servicebostäder</a></li>
                                 </ul>
                             </div> 
                             <ul>
                                <li class="accordionli"><a href="#">Korttidsboende</a></li>
                                <li class="accordionli"><a href="#">Boende för barn och ungdomar</a></li>
                             </ul>
                             <button class="accordionbutton">Daglig verksamhet</button>
                              <div class="accordion-content">
                                  <ul>
                                    <li class="accordionli"><a href="#">Dagliga verksamheter i Helsingborg</a></li>
                                  </ul>
                              </div>
                              <ul>
                                <li class="accordionli"><a href="#">Kontaktperson</a></li>
                                <li class="accordionli"><a href="#">Korttidstillsyn</a></li>
                                <li class="accordionli"><a href="#">Ledsagare</a></li>
                                <li class="accordionli"><a href="#">Personlig assistans</a></li>
                                <li class="accordionli"><a href="#">Stödfamilj</a></li>
                                <li class="accordionli"><a href="#">Trygghetslarm</a></li>                  
                              </ul>   
                          </div>
                     </div>
               </div>  
             <button class="accordionbutton">Gifta sig, borgerlig vigsel</button>
                 <div class="accordion-content">
                     <ul>
                        <li class="accordionli"><a href="#">Ceremonin</a></li>
                        <li class="accordionli"><a href="#">Innan ni bokar</a></li>
                        <li class="accordionli"><a href="#">Vanliga frågor och svar om borgerlig vigsel</a></li>
                        <li class="accordionli"><a href="#">Våra vigselförrättare</a></li>
                     </ul>
                 </div>
            <button class="accordionbutton">Invandring och integration</button> 
              <div class="accordion-content">
              <ul>
                <li class="accordionli"><a href="#">Flyktingmottagning – mottagning av nyanlända</a></li> 
              </ul>
              <button class="accordionbutton">Stöd för nyanlända</button>
                <div class="accordion-content">
                    <ul>
                        <li class="accordionli"><a href="#">Vanliga frågor och svar</a></li>
                    </ul>
                </div>
                <ul>
                    <li class="accordionli"><a href="#">Språkcaféer i Helsingborg</a></li>
                </ul>
                <button class="accordionbutton">Ansökan om föreningsstöd</button>
                <div class="accordion-content">
                    <ul>
                        <li class="accordionli"><a href="#">Krav för att få stöd</a></li>
                        <li class="accordionli"><a href="#">Invandrarföreningar i Helsingborg</a></li>
                        <li class="accordionli"><a href="#">Invandrarföreningens handlingar</a></li>
                    </ul>
                </div>
                <button class="accordionbutton">Tolk</button>
                <div class="accordion-content">
                    <ul>
                        <li class="accordionli"><a href="#">Rekrytering av tolkar</a></li>
                    </ul>
                </div>
          </div> 
          <button class="accordionbutton">Missbruk och beroende</button> 
           <div class="accordion-content">
               <ul>
                <li class="accordionli"><a href="#">Anhörig till någon som missbrukar</a></li>
                <li class="accordionli"><a href="#">Spelmissbruk och spelberoende</a></li>
               </ul>
               <button class="accordionbutton">Bostad först</button>
                <div class="accordion-content">
                    <ul>
                        <li class="accordionli"><a href="#">Frågor och svar om Bostad först</a></li>
                    </ul>
                </div>
                <ul>
                    <li class="accordionli"><a href="#">Frivilliga organisationer</a></li>
                </ul>
                <button class="accordionbutton">Förebyggande arbete</button> 
                  <div class="accordion-content">
                      <ul>
                        <li class="accordionli"><a href="#">Verktygslådan</a></li>
                        <li class="accordionli"><a href="#">Varannan vatten</a></li>
                      </ul>
                  </div>
                  <ul>
                    <li class="accordionli"><a href="#">Maria Nordväst mottagning för unga</a></li>
                  </ul>
           </div>
           <button class="accordionbutton">Psykisk funktionsnedsättning</button> 
            <div class="accordion-content">
                <ul>
                    <li class="accordionli"><a href="#">Boende med särskild service</a></li>
                    <li class="accordionli"><a href="#">Föreningar för personer med psykisk funktionsnedsättning</a></li>
                </ul>
                <button class="accordionbutton">Meningsfull sysselsättning</button>
                 <div class="accordion-content">
                     <ul>
                        <li class="accordionli"><a href="#">Cykelverkstad</a></li>
                        <li class="accordionli"><a href="#">JagKan</a></li>
                        <li class="accordionli"><a href="#">Sysselsättning socialpsykiatri</a></li>
                        <li class="accordionli"><a href="#">Hantverkshuset</a></li>
                        <li class="accordionli"><a href="#">Fontänhuset Helsingborg</a></li>
                     </ul>
                 </div>
                 <button class="accordionbutton">Personligt stöd</button>
                  <div class="accordion-content">
                      <ul>
                        <li class="accordionli"><a href="#">FACT-vårdprogram</a></li>
                        <li class="accordionli"><a href="#">Kontaktperson</a></li>
                        <li class="accordionli"><a href="#">Personligt ombud</a></li>
                      </ul>
                  </div>
                  <ul>
                    <li class="accordionli"><a href="#">Rehabilitering</a></li>
                  </ul>
            </div>
            <button class="accordionbutton">Samordnade insatser</button>
             <div class="accordion-content">
                 <ul>
                    <li class="accordionli"><a href="#">Så får du hjälp</a></li>
                 </ul>
             </div> 
             <button class="accordionbutton">Sjukvård och tandvård</button>
              <div class="accordion-content">
                  <ul>
                    <li class="accordionli"><a href="#">Demens</a></li>
                    <li class="accordionli"><a href="#">Hemsjukvård</a></li>
                    <li class="accordionli"><a href="#">Hjälpmedel</a></li>
                    <li class="accordionli"><a href="#">Tandvård</a></li>
                    <li class="accordionli"><a href="#">Rehabilitering</a></li>
                    <li class="accordionli"><a href="#">Patientförsäkring</a></li>
                  </ul>
              </div>
           <button class="accordionbutton">Socialjour och mottagning</button>
             <div class="accordion-content">
             </div>
         <button class="accordionbutton">Stöd till familj, barn och ungdom</button>
           <div class="accordion-content">
               <ul>
                <li class="accordionli"><a href="#">Budget- och skuldrådgivning</a></li>  
               </ul>
               <button class="accordionbutton">Fonder och stiftelser</button>
                 <div class="accordion-content">
                     <ul>
                        <li class="accordionli"><a href="#">Fonder för barn och unga</a></li>
                        <li class="accordionli"><a href="#">Fond för äldre personer</a></li>
                     </ul>
                 </div>
                 <button class="accordionbutton">Ekonomiskt bistånd, ansökan</button>
                   <div class="accordion-content">
                       <ul>
                        <li class="accordionli"><a href="#">Innan du söker ekonomiskt bistånd</a></li>
                        <li class="accordionli"><a href="#">Så utreder vi din ansökan</a></li>
                        <li class="accordionli"><a href="#">Ekonomiskt bistånd är inte kravlöst</a></li>
                        <li class="accordionli"><a href="#">Återkrav</a></li>
                        <li class="accordionli"><a href="#">Sekretess och tystnadsplikt</a></li>
                        <li class="accordionli"><a href="#">Överklaga</a></li>
                        <li class="accordionli"><a href="#">Bistånd till begravningskostnad</a></li>
                        <li class="accordionli"><a href="#">Ekonomiskt bistånd under lov</a></li>
                        <li class="accordionli"><a href="#">Frågor och svar om ekonomiskt bistånd</a></li>
                       </ul>
                   </div>
                <button class="accordionbutton">God man, förvaltare, förmyndare</button>
                 <div class="accordion-content">
                     <ul>
                        <li class="accordionli"><a href="#">Förmyndare för barn</a></li>
                     </ul>
                     <button class="accordionbutton">Förvaltare</button>
                      <div class="accordion-content">
                          <ul>
                            <li class="accordionli"><a href="#">Förvaltarfrihetsbevis</a></li>
                          </ul>
                      </div>
                    <button class="accordionbutton">God man</button>
                      <div class="accordion-content">
                          <ul>
                            <li class="accordionli"><a href="#">Motstridiga intressen</a></li>
                            <li class="accordionli"><a href="#">Försvunnen eller okänd person</a></li>
                            <li class="accordionli"><a href="#">Ensamkommande barn</a></li>
                            <li class="accordionli"><a href="#">Bli god man eller förvaltare</a></li>
                          </ul>
                      </div>
                      <ul>
                        <li class="accordionli"><a href="#">Inteckning, pantsättning och lån</a></li>
                        <li class="accordionli"><a href="#">Spärrat konto</a></li>
                        <li class="accordionli"><a href="#">Överförmyndarnämnden</a></li>
                        <li class="accordionli"><a href="#">Frågor och svar om godmanskap, förvaltare och förmyndare</a></li>
                      </ul>
                      <ul></ul>
                 </div>
                 <button class="accordionbutton">Hbtq-föreningar</button>
                 <div class="accordion-content">
                 </div>
                 <button class="accordionbutton">Hyresrådgivning</button>
                 <div class="accordion-content">
                 </div>
                 <button class="accordionbutton">Hbtq-föreningar</button>
                 <div class="accordion-content">
                     <ul>
                        <li class="accordionli"><a href="#">Frågor och svar om dödsbo</a></li>
                     </ul>
                 </div>
         <button class="accordionbutton">Hbtq-föreningar</button> 
          <div class="accordion-content">
              <ul>
                <li class="accordionli"><a href="#">Adoptioner</a></li>
              </ul>
              <button class="accordionbutton">Barn och unga</button>
              <div class="accordion-content">
                <button class="accordionbutton">Lämna en kriminell livsstil</button>
                <div class="accordion-content">
                    <ul>
                        <li class="accordionli"><a href="#">Ungdomstjänst</a></li>
                    </ul>
                </div>
                <ul>
                    <li class="accordionli"><a href="#">Mobila teamet</a></li>
                </ul>
                <button class="accordionbutton">Stödgrupper</button>
                <div class="accordion-content">
                 <ul>
                    <li class="accordionli"><a href="#">Så här jobbar vi i stödgrupperna</a></li>
                 </ul>
                </div>

                 <ul>
                    <li class="accordionli"><a href="#">Mobila teamet</a></li>
                 </ul>     
            </div> 
            <button class="accordionbutton">Barn som far illa</button>
             <div class="accordion-content">
                <ul>
                    <li class="accordionli"><a href="#">Barnahuset – samverkan för barnens trygghet</a></li>
                    <li class="accordionli"><a href="#">Utredning</a></li>
                    <li class="accordionli"><a href="#">Myndigheter är skyldiga att anmäla</a></li>
                    <li class="accordionli"><a href="#">Du som är privatperson</a></li>
                </ul>
             </div>
             <button class="accordionbutton">Familjehem</button>
              <div class="accordion-content">
                  <ul>
                    <li class="accordionli"><a href="#">Frågor och svar om corona för familjehem och jourhem</a></li>
                    <li class="accordionli"><a href="#">Frågor och svar om ensamkommande flyktingbarn</a></li>
                    <li class="accordionli"><a href="#">Jourhem</a></li>
                    <li class="accordionli"><a href="#">Särskilt förordnad vårdnadshavare</a></li>
                    <li class="accordionli"><a href="#">Ansök om att bli familjehem</a></li>
                  </ul>
                  <button class="accordionbutton">Familjehem och barn berättar</button>
                  <div class="accordion-content">
                      <ul>
                        <li class="accordionli"><a href="#">Jan är familjehemspappa</a></li>
                        <li class="accordionli"><a href="#">Familjehemspappan Lars berättar</a></li>
                        <li class="accordionli"><a href="#">James har vuxit upp i familjehem</a></li>
                        <li class="accordionli"><a href="#">Skicka meddelande till familjehemsenheten</a></li>
                      </ul>
                  </div>
                  <ul>
                    <li class="accordionli"><a href="#">Skicka meddelande till familjehemsenheten</a></li>
                  </ul>
              </div>
         <button class="accordionbutton">Familjerätt</button>
         <div class="accordion-content">
             <ul>
                <li class="accordionli"><a href="#">Avtal om vårdnad, boende och umgänge</a></li>
                <li class="accordionli"><a href="#">Faderskap eller föräldraskap</a></li>
                <li class="accordionli"><a href="#">Familjepunkten</a></li>
                <li class="accordionli"><a href="#">Samarbetssamtal</a></li>
                <li class="accordionli"><a href="#">Vanliga frågor och svar om familjerätt</a></li>
                <li class="accordionli"><a href="#">Vårdnad, boende och umgänge</a></li>
             </ul>
         </div>
         <button class="accordionbutton">Förälder</button>
          <div class="accordion-content">
            <button class="accordionbutton">Dynamis familjebehandling</button>
              <div class="accordion-content">
                  <ul>
                    <li class="accordionli"><a href="#">Frågor och svar om Dynamis</a></li>
                    <li class="accordionli"><a href="#">Om Dynamis</a></li>   
                  </ul>
              </div>
              <ul>
                <li class="accordionli"><a href="#">Familjebehandling</a></li> 
                <li class="accordionli"><a href="#">Familjecentraler</a></li> 
                <li class="accordionli"><a href="#">Familjerådgivning</a></li> 
                <li class="accordionli"><a href="#">Filmer om tonårsbarn</a></li> 
              </ul>
              <button class="accordionbutton">Föräldrakurser</button>
               <div class="accordion-content">
                   <ul>
                    <li class="accordionli"><a href="#">Om Cope-utbildningen</a></li>
                   </ul>
               </div>
               <ul>
                <li class="accordionli"><a href="#">Tips till föräldrar i coronatider</a></li> 
               </ul>
          </div>
          <button class="accordionbutton">Kontaktperson, kontaktfamilj</button> 
           <div class="accordion-content">
               <ul>
                <li class="accordionli"><a href="#">Stöd till föräldrar med placerade barn</a></li>
               </ul>
           </div>
          </div>
         </div>
        <button class="accordionbutton">Våld i nära relation</button>
          <div class="accordion-content">
            <ul>
                <li class="accordionli"><a href="#">Känner du någon som är utsatt för våld?</a></li>
                <li class="accordionli"><a href="#">Stöd för barn och unga som har bevittnat våld hemma</a></li>
                <li class="accordionli"><a href="#">Har du svårt att hantera din ilska och aggression?</a></li>
                <li class="accordionli"><a href="#">Hedersrelaterat våld</a></li>
                <li class="accordionli"><a href="#">Prostitution och människohandel</a></li>
                <li class="accordionli"><a href="#">Så döljer du ditt besök på webben</a></li>
            </ul>
          </div> 
          <button class="accordionbutton">Volontärarbete inom Helsingborgs stad</button>
           <div class="accordion-content">
            <button class="accordionbutton">Organisationer med social verksamhet</button>
              <div class="accordion-content">
                <button class="accordionbutton">Bidrag från socialnämnden</button>
                  <div class="accordion-content">
                      <uL>
                        <li class="accordionli"><a href="#">Verksamhetsstöd från socialnämnden</a></li>
                        <li class="accordionli"><a href="#">Bidrag från vård- och omsorgsnämnden</a></li>
                      </ul>
                  </div>
              </div>
              <button class="accordionbutton">Volontärcenter</button>
               <div class="accordion-content">
                   <ul>
                    <li class="accordionli"><a href="#">Visa uppdrag</a></li>
                    <li class="accordionli"><a href="#">Volontärportalen</a></li>
                   </ul>
               </div>  
           </div>
           <button class="accordionbutton">Äldreomsorg och senior</button>
            <div class="accordion-content">
                <button class="accordionbutton">Aktiviteter för äldre</button>
                   <div class="accordion-content">
                       <ul>
                        <li class="accordionli"><a href="#">Dagverksamheter</a></li>
                        <li class="accordionli"><a href="#">Träffpunkter</a></li>
                        <li class="accordionli"><a href="#">Pensionärsföreningar</a></li>
                       </ul>
                   </div>
                   <button class="accordionbutton">Avgifter</button>
                    <div class="accordion-content">
                    </div>
                    <button class="accordionbutton">Boende för äldre</button>
                      <div class="accordion-content">
                        <button class="accordionbutton">Trygghetsboende</button>
                           <div class="accordion-content">
                               <ul>
                                <li class="accordionli"><a href="#">Bikupan</a></li>
                               </ul>
                           </div>
                           <ul>
                            <li class="accordionli"><a href="#">Hyresvärdar och bostadsstiftelser</a></li>
                            <li class="accordionli"><a href="#">Pålsjö Park korttidsenhet</a></li>
                           </ul>
                           <button class="accordionbutton">Vårdboende</button>
                             <div class="accordion-content">
                                 <ul>
                                    <li class="accordionli"><a href="#">Frågor och svar</a></li>
                                    <li class="accordionli"><a href="#">Vårdboenden i Helsingborg</a></li>
                                 </ul>
                             </div>
                      </div>
                      <ul>
                        <li class="accordionli"><a href="#">Bostadsanpassning</a></li>
                        <li class="accordionli"><a href="#">Färdtjänst</a></li>
                      </ul>
                      <button class="accordionbutton">Hjälp i hemmet</button>
                        <div class="accordion-content">
                            <ul>
                                <li class="accordionli"><a href="#">Fixartjänst</a></li>
                                <li class="accordionli"><a href="#">Trygghetsteam</a></li>
                            </ul>
                            <button class="accordionbutton">Hemvård</button>
                             <div class="accordion-content">
                                 <ul>
                                    <li class="accordionli"><a href="#">Leverantörer av hemservice i Helsingborg </a></li>
                                    <li class="accordionli"><a href="#">Tillsyn via trygghetskamera</a></li>
                                    <li class="accordionli"><a href="#">Leverantörer av omsorg, trygghetslarm och tillsyn via trygghetskamera</a></li>
                                 </ul>
                             </div>
                             <ul>
                                <li class="accordionli"><a href="#">Trygghetslarm </a></li>
                             </ul>
                        </div>
                        <ul>
                            <li class="accordionli"><a href="#">Hjälpmedel </a></li>
                        </ul>
                        <button class="accordionbutton">Seniorrådgivare</button>
                         <div class="accordion-content">
                            <li class="accordionli"><a href="#">Vanliga frågor och svar </a></li>
                         </div>
                         <ul>
                            <li class="accordionli"><a href="#">Synpunkter och klagomål </a></li>
                            <li class="accordionli"><a href="#">Värdighetsgarantier </a></li>
                         </ul>
            </div>
        </div>  
        </div>
        <script src="accordion.js"></script>
    </body>
</html>