<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="box-container-3-line">
        <div class="box-3-line box-3-line-pink">
            <a class="box-item-3-line" href="https://helsingborg.se/bo-bygga-och-miljo/bostader/">
                <div class="box-content-3-line">
                    <h5 class="box-link-3-line"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> <span
                            class="rubrik">Bostäder</span></h5>
                    Här finns information om hur du gör för att söka lägenhet,
                    vilka typer av bostäder det finns i olika delar av kommunen och
                    vad du kan göra för att miljön i din bostad ska bli bra.
                </div>
            </a>
        </div>


        <div class="box-3-line box-3-line-pink">
            <a class="box-item-3-line" href="https://helsingborg.se/bo-bygga-och-miljo/bygga-nytt-bygga-om-bygga-till/">
                <div class="box-content-3-line">
                    <h5 class="box-link-3-line"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> <span
                            class="rubrik">Bygga nytt, bygga om, bygga till</span></h5>
                    Här hittar du information om vad som gäller när du vill bygga nytt,
                    bygga om eller bygga till. Du kan till exempel ställa dig i tomtkö,
                    söka bygglov och beställa ritningar på hus.
                </div>
            </a>
        </div>

        <div class="box-3-line box-3-line-pink">
            <a class="box-item-3-line" href="https://helsingborg.se/bo-bygga-och-miljo/avfall-och-atervinning/">
                <div class="box-content-3-line">
                    <h5 class="box-link-3-line"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> <span
                            class="rubrik">Avfall och återvinning</span></h5>
                    Det är Nordvästra Skånes Renhållnings AB (NSR) som ansvarar för sophämtningen i Helsingborg.
                    Det är dit du vänder dig med frågor om sophämtning, källsortering med mera.
                </div>
            </a>
        </div>

        <div class="box-3-line box-3-line-pink">
            <a class="box-item-3-line" href="https://helsingborg.se/bo-bygga-och-miljo/hallbar-livsstil/">
                <div class="box-content-3-line">
                    <h5 class="box-link-3-line"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> <span
                            class="rubrik">Hållbar livsstil</span></h5>
                    Alla kan göra något för miljön, varje dag. Dina val har betydelse – hur du bor, vad du handlar,
                    hur du reser och vad du äter. Här får du enkla tips på hur du i vardagen kan minska din
                    miljöpåverkan.
                </div>
            </a>
        </div>

        <div class="box-3-line box-3-line-pink">
            <a class="box-item-3-line"
                href="https://helsingborg.se/trafik-och-stadsplanering/gator-och-trottoarer/adresser-gatunamnsskyltar-och-namnsattning-av-gator/">
                <div class="box-content-3-line">
                    <h5 class="box-link-3-line"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> <span
                            class="rubrik">Adresser, gatunamn</span></h5>
                    Adresser är viktiga, till exempel för att vi enkelt ska hitta rätt. Det är bland annat därför
                    nya gator och platser får namn som ska vara lätta att uttala och skriva.
                    Det är också viktigt att det finns gatunamnsskyltar på platser som syns och är logiska.
                </div>
            </a>
        </div>

        <div class="box-3-line box-3-line-pink">
            <a class="box-item-3-line"
                href="https://helsingborg.se/trafik-och-stadsplanering/planering-och-utveckling/detaljplanering/">
                <div class="box-content-3-line">
                    <h5 class="box-link-3-line"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> <span
                            class="rubrik">Detaljplanering</span></h5>
                    Detaljplaner bestämmer vad du eller andra får göra och bygga i ett område.
                    Här hittar du detaljplaner för olika områden i Helsingborg.
                    Du kan också ta del av detaljplaner som är under arbete,
                    se i vilken fas de är och hur du gör om du vill påverka ett detaljplanearbete.
                </div>
            </a>
        </div>
    </div>
</body>
</html>