<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="style.css">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <title>Template - Image with text in white background</title>
    </head>

    <body>
        <main>
            <div class="multi-imagetext-container">
                <!-- Image with a title and text underneath it -->
                    <div class="image-container">
                        <img src="image1.png" alt="Alternate text" width="100%" height="40%">
                        <div class="text-container box-with-shadow">
                            <p class="pink-text"> <a href="" target="_blank"> <i class="fa fa-arrow-alt-circle-right"></i> <strong> Pink Title</strong></a></p>
                            <p class="black-text"> Whatever text you need to see in the paragraph, remove this text and put it here.</p>
                        </div>
                    </div>
                <!-- Image with a title and text underneath it -->
                <div class="image-container">
                    <img src="image1.png" alt="Alternate text" width="100%" height="40%">
                    <div class="text-container box-with-shadow">
                        <p class="pink-text"> <a href="" target="_blank"> <i class="fa fa-arrow-alt-circle-right"></i> <strong> Pink Title</strong></a></p>
                        <p class="black-text"> Whatever text you need to see in the paragraph, remove this text and put it here.</p>
                    </div>
                </div>
                <!-- Image with a title and text underneath it -->
                <div class="image-container">
                    <img src="image1.png" alt="Alternate text" width="100%" height="40%">
                    <div class="text-container box-with-shadow">
                        <p class="pink-text"> <a href="" target="_blank"> <i class="fa fa-arrow-alt-circle-right"></i> <strong> Pink Title</strong></a></p>
                        <p class="black-text"> Whatever text you need to see in the paragraph, remove this text and put it here.</p>
                    </div>
                </div>
                <!-- Image with a title and text underneath it -->
                <div class="image-container">
                    <img src="image1.png" alt="Alternate text" width="100%" height="40%">
                    <div class="text-container box-with-shadow">
                        <p class="pink-text"> <a href="" target="_blank"> <i class="fa fa-arrow-alt-circle-right"></i> <strong> Pink Title</strong></a></p>
                        <p class="black-text"> Whatever text you need to see in the paragraph, remove this text and put it here.</p>
                    </div>
                </div>
                <!-- Image with a title and text underneath it -->
                <div class="image-container">
                    <img src="image1.png" alt="Alternate text" width="100%" height="40%">
                    <div class="text-container box-with-shadow">
                        <p class="pink-text"> <a href="" target="_blank"> <i class="fa fa-arrow-alt-circle-right"></i> <strong> Pink Title</strong></a></p>
                        <p class="black-text"> Whatever text you need to see in the paragraph, remove this text and put it here.</p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
