<!--section 3 bright red box-->
<div class="sec3-brightredbox">
    <h4>Bli volontär inom Helsingborgs stad</h4>
    <div class="sec3-redbox-contain-link">
        <div class="align-arrow">
            <span class="arrow"><i class="far fa-arrow-alt-circle-right"></i></span>
            <a href="#" class="link-text">Välkommen till oss på Volontärcenter! Vi finns på Helsingborg kontaktcenter på Stortorget 17.</a>
        </div>
    </div>
</div>


<!--section 3 bright red box CSS
    .sec3-brightredbox {
    background-color: #e3000f;
    color: white;
    padding-bottom: 35px;
    border-radius: 2px;
    margin-bottom: 32px; /* standard */

}

.sec3-brightredbox h4 {
    font-size: 19px;
    padding: 32px 32px 19px 32px;
    margin: 0;
}

.sec3-brightredbox-contain-link {
    padding: 0px 32px 0px 32px;
}

.sec3-brightredbox a {
    text-decoration: underline;
    color: white;
    line-height: 24px;
}

.sec3-brightredbox-link {
    margin-left: 12px;
}

-->