<!--section 3 redbox HTML-->
<div class="sec3-redbox">
    <h4>Kontakt</h4>
    <div class="sec3-redbox-contain-link">
        <div class="align-arrow">
            <span class="arrow"><i class="far fa-arrow-alt-circle-right"></i></span>
            <a href="#" class="link-text">Socialjour och mottagning</span></a>
        </div>
        </div>
</div>

<!--- CSS for section 3 redbox
.sec3-redbox {
    background-color: #ae0b05;
    color: white;
    padding-bottom: 35px;
    border-radius: 2px;
    margin-bottom: 32px; /* standard */

}

.sec3-redbox h4 {
    font-size: 19px;
    padding: 32px 32px 19px 32px;
    margin: 0;
}

.sec3-redbox-link {
    margin-left: 12px;
}

.sec3-redbox-contain-link {
    padding: 0px 32px 0px 32px;
}

.sec3-redbox a {
    text-decoration: underline;
    color: white;
    line-height: 24px;
}

 -->