.box-share-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    height: auto;
}


.box-share-shadow {
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .08);
}

.publish-container {
    width: 80%;
    margin-top: 10px;
    margin-left: 10px;
}

.icon-format {
    color: #979797;
    display: inline;
    margin-left: 3px;
    margin-right: 3px;
}

.icon-format:hover {
    color: #006ba1;
}

.box-share-item-left i {
    color: black;
    display: inline;
    font-size: 1.5em;
    margin: 5px;
}

.box-share-item-left, .box-share-item-right {
    padding-left: 10px;
    padding-right: 10px;
}

.box-share-item-left {
    flex: 2;
    font-size: 1.1em;
}

.box-share-item-right {
    flex: 1;
    font-size: 1.2em;
    text-align: right;
    margin-right: 20px;
}

.sharing-list-item {
    display: inline;
    list-style-type: none;
}

.sharing-list-item a {
    text-decoration: none;
}


.publish-list {
    margin-top: 10px;
}

.publish-list-item {
    list-style-type: none;
}

