/*General CSS for all pages/content */

/* Line nos.    Template Item

    35          CSS for the header
    155         News section template
    210         Contact Us
    330         footer
    432         Chat Bot & Scroll Elevator
    552         Share/Published info
    615         Picture Slider
    702         container for image-title-text combo and for multiple image-title-text combo
    780         CSS for boxes with heading and text
	1015		Paragraph divs
	1057		lättläs section
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, system, Segoe UI, Tahoma, -apple-system;
}

.nav-bar-small a:hover, .nav-bar-main-item a:hover, .box-list-item a:hover, .event-list-item a:hover, .more-events a:hover {
    text-decoration: underline;
}

.header-80-width {
    width: 80%;
    display: flex;
    margin: auto;
    padding: 20px 0;
    height: 150px;
}

.header-left {
    min-width: 40%;
    height: 100%;
}

.header-right {
    min-width: 60%;
    height: 100%;
}

.nav-bar-small-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: flex-end;
    position: relative;
}

.nav-bar-small-item {
    list-style-type: none;
    padding: 5px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .08);
    float: right;
}

.nav-bar-small {
    width: 60%;
    position: absolute;
    top: 40%;
}

.nav-bar-small a {
    text-decoration: none;
    color: #000;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    opacity: 0.8;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.header-full-width {
    width: 100%;
    background-color: #ae0b05;
    height: 4em;
}

.nav-bar-main {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.nav-bar-main-item {
    list-style-type: none;
    width: auto;
    display: flex;
    padding: 5px;
    align-items: center;
}

.nav-bar-main-item a {
    text-decoration: none;
    color: #fff;
    flex: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}



/* CSS for the News section template */

.two-boxes {
    width: 100%;
    display: flex;
    margin: 30px 0px;
}

.pink-under-acord-contact-box{
    width: 260px;
    background-color: #cb0050;
    }
    
    .pink-background{
        background-color: #cb0050;
        height: 400px;
    }
    .red-background{
        background-color:red;
        width: 250px;
    }
    .dark-red-background{
    background-color: #ae0b05;
    width: 250px;
    }
    
    .five-main-boxes{
        width: 250px;
    
    }
    .nyheter-box{
        height: 300px;
        white-space: 500px; 
    }
    
    
    .under-acord-text{
        color:white;
        font-size: 15px;
    }
    .under-acord-text:hover{
        text-decoration: underline;
    }
    
.lined-box-half {
    flex: 1;
    margin: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .08);
}

.box-header {
    background-color: #ae0b05;
    height: 40px;
    color: #fff;
    padding: 10px;
}

.box-content, .event-content {
    height: 500px;
    background-color: #fff;
}

.box-list {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.event-list {
    list-style-type: none;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.box-list-item, .event-list-item {
    flex: 1;
    display: flex;
    align-items: center;
    border-top: 1px solid #e5e5e5;
}

.box-list-item a, .event-list-item a {
    text-decoration: none;
    color: #ae0b05;
    padding-left: 10px;
}

/* CSS for the Contact Us section */

.contact-container {
    background: linear-gradient(100deg, #cb0050 0, #fa1a74 100%);
    color: #fff;
}

.contact-text-container {
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.contact-info {
    flex: 2;
}

.contact-header, .contact-text {
    width: 70%;
}

.contact-text, .open-hours-times {
    font-size: 1.1em;
    padding-top: 20px;
}

.open-hours {
    flex: 1;
    padding-left: 24px;
    border-left: 4px solid rgba(255, 255, 255, .8);
}

.open-hours-heading {
    color: white;
}

.open-hours-times-list {
    list-style-type: none;
    margin-bottom: 5px;
    font-weight: lighter;
}

.open-hours-small {
    padding-top: 10px;
    font-size: 0.9em;
}

.contact {
    width: 80%;
    background: #fff;
    margin-top: 64px;
    background: linear-gradient(180deg, #fff 0, #f8f8f8 100%);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0.5px 1.8px rgba(0, 0, 0, .015), 0 1px 3.7px rgba(0, 0, 0, .022), 0 1.7px 5.8px rgba(0, 0, 0, .027), 0 2.6px 8.3px rgba(0, 0, 0, .031), 0 3.8px 11.3px rgba(0, 0, 0, .035), 0 5.3px 15.2px rgba(0, 0, 0, .039), 0 7.5px 20.5px rgba(0, 0, 0, .043), 0 11px 28.8px rgba(0, 0, 0, .048), 0 16.9px 44px rgba(0, 0, 0, .055), 0 30px 80px rgba(0, 0, 0, .07);
    display: flex;
    margin: auto;
    margin-top: 50px;
}

.contact-banner-item {
    flex: 1;
    border-left: 1px solid #dbdbdb;
    color: #000;
    padding: 10px;
}

.contact-banner-item-header {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.contact-banner-item img {
    flex: 1;
}

.contact-banner-item-title {
    flex: 5;
    padding-top: 15px;
    padding-left: 10px;
}

.contact-banner-item p {
    margin-top: 20px;
    height: 80px;
}

.contact-banner-link {
    border-top: 1px solid #dbdbdb;
    margin: 20px 0px;
    text-decoration: none;
    color: #ae0b05;
    text-align: right;
    padding-right: 10px;
    text-transform: uppercase;
    font-weight: bold;
    transition: font-size 0.5s;
    height: 20px;
    padding-top: 10px;
}

.contact-banner-extra {
    width: 80%;
    margin: auto;
    text-align: right;
    padding-top: 30px;
    padding-bottom: 60px;
    max-height: 110px;
    min-height: 110px;
}

.contact-banner-extra a {
    text-decoration: none;
    color: #fff;
    transition: font-size 0.5s;
    font-weight: bold;
}

.contact-banner-link a:hover, .contact-banner-extra a:hover {
    font-size: 1.1em;
}

/* CSS for the footer */

footer {
    padding: 30px 0px;
    background-color: #f4f4f4;
    color: #424242;
}

.footer-container {
    width: 80%;
    margin: auto;
    padding: 30px 0px;
    background-color: #f4f4f4;
}

.footer-address {
    padding-top: 30px;
}

.footer-light {
    font-size: 0.9em;
}

.footer-link-container, .footer-menu-container, .footer-address-container {
    padding-bottom: 30px;
}

.footer-link {
    margin-top: 15px;
    font-size: 0.9em;
}

.footer-link a {
    color: #000;
}

.footer-menu-link {
    width: 100%;
    background-color: rgba(0, 0, 0, .05);
    padding: 5px 10px;
    border-radius: 2px;
    margin-top: 4px;
    font-size: 0.9em;
}

.footer-menu-link a {
    text-decoration: none;
    color: #000;
    width: 100%;
    display: block;
}

.footer-menu-link:hover {
    background-color: rgba(0, 0, 0, .07);
}

.footer-form {
    width: 100%;
}

.footer-form-input {
    height: 30px;
    width: 100%;
    padding-left: 10px;
}

.social-media-container {
    width: 100%;
    position: relative;
    height: 80px;
}

.icon-list {
    width: 40%;
    padding-top: 30px;
    position: absolute;
    left: 40%;
    list-style-type: none;
}

.icon-list-item {
    display: inline-block;
}

.fa {
    max-width: 50px;
    color: #424242;
    transition: color 150ms;
}

.fa:hover {
    color: #000;
}

.fa-arrow-circle-o-right {
    margin-right: 5px;
}

.fa-arrow-circle-o-right:hover, .questions-list-item i:hover {
    color: #424242;
}

/* CSS for the Chat Bot & Scroll Elevator */

.chat {
    position: relative;
}

.chat-button {
    position: fixed;
    right: 20px;
    bottom: 60px;
    display: block;
    background-color: #ec6701;
    border-radius: 40px;
    height: 60px;
    width: 121.5px;
    color: white;
    line-height: 60px;
    cursor: pointer;
}

.chat-button-content {
    padding-left: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

.chat-button-content i {
    color: white;
    font-size: 1.4em
}

.chat-button-content i:hover {
    color: white;
}

.chat-box {
    position: fixed;
    right: 160px;
    bottom: 130px;
    display: none;
    margin: 0px;
    background-color: #F3F3F3;
    width: 350px;
    height: 350px;
    z-index: 99999;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    color: #424242;
    text-align: center;
}

#chat-clickme-display {
    display: none;
}

#chat-box-close {
    text-align: right;
    font-size: 1.5em;
    margin: 10px;
    cursor: pointer;
}

.chat-box img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 20px;
}

.chat-box h2 {
    margin-top: 10px;
    text-transform: none;
}

.chat-box-img {
    margin: auto;
    width: 200px;
    height: 200px;
}

.elevator-button {
    visibility: hidden;
    position: fixed;
    right: 20px;
    bottom: 10px;
    opacity: 0;
    transition: visibility 0s, opacity .3s ease-in-out;
    display: block;
    background-color: #cb0050;
    border-radius: 40px;
    height: 40px;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, .3);
}

.scroll-elevator-sticky {
    visibility: visible;
    opacity: 1;
}

.elevator-button:hover {
    background-color: #ec6701
}

.elevator-button a {
    color: #fff;
    line-height: 40px;
    font-size: 0.9em;
    padding-right: 15px;
    text-decoration: none;
    margin-left: 15px;
}

.elevator-button a i {
    padding-right: 10px;
    color: #fff;
}

.elevator-button a i:hover {
    color: #fff;
}

/* CSS for the Share/Published info */

.sharing-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.content-wrapper {
    width: 80%;
    margin-top: 10px;
    margin-left: 10px;
}

.sharing-left i, .sharing-right i {
    display: inline;
    font-size: 1.3em;
    margin: 5px;
}

.sharing-right i {
    color: #979797;
}

.sharing-right i:hover {
    color: #006ba1;
}

.sharing-left i {
    color: black;
}

.sharing-left, .sharing-right {
    padding: 10px;
}

.sharing-left {
    flex: 2;
    font-size: 1.1em;
}

.sharing-right {
    flex: 1;
    font-size: 1.2em;
    text-align: right;
    margin-right: 20px;
}

.sharing-list-item {
    display: inline;
    list-style-type: none;
}

.sharing-list-item a {
    text-decoration: none;
}

.share-span {
    display: none;
}

.publish-list {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 0.8em;
}

.publish-list-item {
    list-style-type: none;
}

/*CSS for Coronavirus div */

.coronavirus-box {
    background-color: #b1f5ff;
    color: #252525;
    padding: 15px;
    padding-left: 30px;
    width: 100%;
}

.corona-list-item a {
    color: #252525;
}

.corona-list-item:first-of-type {
    margin-bottom: 20px;
}

.corona-list {
    list-style-type: none;
    text-decoration: underline;
}

/* style for Picture Slider */

.galleryContainer {
    border: 1px solid black;
    color: white;
    display: inline-block;
    flex-wrap: wrap;
    height: auto;
    margin: auto;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.galleryContainer .content {
    background-color: rgb(203, 0, 80, 0.7);
    color: #fff;
    display: block;
    font-size: 1.2rem;
    padding: 20px;
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    top: auto;
    z-index: 2;
}

.gallerySmallContainer {
    border: 1px solid black;
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    z-index: 1;
    width: 50%;
    height: 50%;
}

h2 {
    color: black;
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
    text-transform: capitalize;
}

.captionTitle, .captionText {
    border: 0mm;
    color: white;
    padding: 0mm;
    text-align: left;
}

.captionTitle {
    font-size: 21.6px;
}

.captionText {
    font-size: 14.4px;
}

.buttonPrev, .buttonNext {
    display: inline-block;
    font-size: 1.5rem;
    position: absolute;
    top: 45%;
}

.buttonPrev {
    left: 3%;
}

.buttonNext {
    right: 3%;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 3;
}


/* style for container that holds multiple image-title-text combo
     and for image-title-text combo
*/

.multi-imagetext-container {
    background-color: white;
    position: relative;
    display: inline-block;
    flex-wrap: wrap;
    margin: 5mm;
    left: 20%;
    width: 70%;
}

.image-container {
    background-color: white;
    position: relative;
    display: inline-block;
    height: 400px;
    margin: 5mm;
    text-align: left;
    vertical-align: top;
    width: 240px;
}

.image-container:hover {
    background: rgb(226, 218, 218);
}

.text-container {
    flex-wrap: wrap;
    text-align: left;
    text-decoration: none;
}

.pink-text {
    padding: 5mm;
    color: white;
}

.pink-text a:visited {
    color: white;
}

.black-text {
    padding: 0mm 5mm;
    color: black;
}

a {
    text-decoration: none;
}

i {
    font-size: 2rem;
    text-decoration: none;
}

/* CSS for boxes with heading and text */

.box-container-3-line {
    display: flex;
    flex-wrap: wrap;
}

.box-3-line {
    min-width: 30%;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border: 1px solid #e5e5e5;
    color: #252525;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .08);
    border-radius: 2px;
    flex: 1;
}

.box-item-3-line {
    text-decoration: none;
    color: black;
    display: block;
    line-height: 24px;
    font-size: 10px;
}

.box-content-3-line {
    padding: 15px;
    font-size: 15px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    
}

.box-3-line:hover {
    background-color: #e5e5e5;
    transition: .3s
}

.box-link-3-line {
    color: rgba(0, 0, 0, .4);
    font-size: 15px;
    margin: -2px 0px 0px;
    padding: 0px 20px 9.5px 0px;
}

.rubrik {
    color: #cb0050;
}

.box-3-line-pink {
    background-color: #cb0050;
}

.box-3-line-pink .box-item-3-line, .box-3-line-pink .rubrik {
    color: white;
}

.box-3-line-pink .fa-arrow-circle-o-right {
    color: rgba(255, 255, 255, .6);
}

.box-3-line-pink:hover {
    background-color: #cb0050;
}

.accordion-container {
    margin-top: 50px;
    margin-bottom: 50px;
    left: 0;
}

.accordion-title-text {
    background-color: #ae0b05;
    height: 60px;
}

.accordion-title-text h1 {
    color: #fff;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 25px;
    padding-top: 5px;
}

button.accordionbutton, .accordionli, .accordion-content {
    width: 100%;
    background-color: whitesmoke;
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    font-size: 18px;
    color: #444;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

button.accordionbutton:after {
    content: '\f055';
    font-family: "fontawesome";
    font-size: 14px;
    float: right;
}

button.accordionbutton.is-open:after {
    content: '\f056';
}

button.accordionbutton:hover, button.accordionbutton.is-open {
    background-color: #ddd;
}

.accordion-content {
    background-color: white;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    
}

.accordionli {
    list-style-type: none;
    padding: 5px 0px 5px;
    border: solid whitesmoke;
    padding: 15px 20px;
    font-size: 18px;
    color: #444;
}

.accordionli a, .accordion-content a, .accordionbutton a {
    text-decoration: none;
    color: #444;
}

.accordionli a:hover {
    text-decoration: underline;
}

.pink-under-acord-contact-box{
width: 260px;
background-color: #cb0050;
}

.pink-background{
    background-color: #cb0050;
    height: 400px;
}
.red-background{
    background-color:red;
    width: 250px;
}
.dark-red-background{
background-color: #ae0b05;
width: 250px;
}

.five-main-boxes{
    width: 250px;

}
.nyheter-box{
    height: 300px;
    white-space: 500px; 
}


.under-acord-text{
    color:white;
    font-size: 15px;
}
.under-acord-text:hover{
    text-decoration: underline;
}

.top-right-search-box {
    width: 38%;
    height: 30%;
    margin-left: 2%;
    position: absolute;
    top: 40%;
    right: 0%;
    border: 1px solid #e5e5e5;
}

.nav-searchbar {
    padding-left: 3%;
    padding-right: 3%;
    background-color: #ec6701;
    border: none;
    color: #fff;
    cursor: pointer;
    float: right;
    height: 100%;
}

#nav-bar-search {
    height: 100%;
    width: 65%;
    border: none;
    align-items: center;
    padding-left: 4%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.search-button {
    width: 35%;
    margin: 0;
    padding: 0;
    align-items: center;
}

.top-right-search-box i {
    margin-left: 10px;
}

.breadcrumbs {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #464646;
}

.breadcrumbs_item {
    display: inline-block;
}

.breadcrumbs_item:not(:last-of-type)::after {
    content: '/';
    margin: 0px 5px;
}

.breadcrumbs_link {
    text-decoration: none;
    color: #ae0b05;
}

.breadcrumbs_link:hover {
    text-decoration: underline;
}

.page-container {
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    display: flex;
}

.menu-left-div {
    flex: 1;
}

.main-content {
   flex: 3;
   margin-top: 70px;
   margin-left: 30px;
}

.box-with-shadow {
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .08);
}

.customer-feedback-box{
    background-color: #f4f4f4;
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 3px rgba(0,0,0,.08);
    padding: 16px;
    border-radius: 2px;
    margin-top: 20px;
    
}
.customer-feedback-title-box{
    color: #252525;
    font-size: 19px;
    line-height: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}
.customer-feedback-paragraph-box{
    font-size: .8em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}
.kontaktcenter a{
    color: #ae0b05;
    text-decoration: none;
}

.customer-feedback-btn-ja{
   
    border-radius: 2px;
    background-color: #e5e5e5;
    border: 2px solid #e5e5e5;

    padding: 8px 16px;
    font-family: system,"Segoe UI",Tahoma,-apple-system;
    font-size: .9em;
    font-weight: 500;
    line-height: 1.3;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 2.66667px;
}
.customer-feedback-btn-nej{
    border-radius: 2px;
    background-color: #e5e5e5;
    border: 2px solid #e5e5e5;
    appearance: none;
    display: inline-block;
    padding: 8px 16px;
    font-family: system,"Segoe UI",Tahoma,-apple-system;
    font-size: .9em;
    font-weight: 500;
    line-height: 1.3;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 2.66667px;
}
.customer-feedback-btn-ja:hover{
    background-color: rgb(195, 195, 195);
}
.customer-feedback-btn-nej:hover{
    background-color: rgb(195, 195, 195);
}

/*Paragraph divs and lättläs section => from line 1015 to line 1132 */

.nav-items-header-wrapper {
    width: 80%;
    margin: 2rem auto;
}

.nav-items-body {
    width: 100%;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.nav-items-header {
    margin-bottom: .8rem;
}

.nav-items-header-text {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
}


/*for "easy to read" section*/

.fa-angle-double-left {
    transform: rotate(-45deg);
    font-family: "Font Awesome 5 Free";
    font-size: 1.5rem;
    font-weight: 600;
    color: #464646;
    margin-right: 1rem;
}

.etr {
    margin-bottom: 1rem;
    list-style-type: none;
}

.etr-link {
    color: #464646;
    text-decoration-line: none;
}

.etr-link:hover {
    text-decoration-line: none;
}


/* Paragraph for divs (whole and half)*/

.card-wrapper {
    margin: 1rem auto;
    display: flex;
}

.half-left {
    flex: 1;
    padding-right: 1.5rem;
}

.half-right {
    flex: 1;
    padding-left: 1.5rem;
}

.card-body {
    width: 100%;
    border: 1px solid #e5e5e5;
    border-top: 3px solid #981F4D;
    padding: 1rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .08);
}

.color-title {
    color: #ae0b05;
}

.card-header {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 0.6rem;
}

.card-text {
    font-size: 1rem;
}

.text-link {
    color: #ae0b05;
    text-decoration: none;
    cursor: pointer;
}

.pink-kontakt-center {
    background-color: #cb0050;
    width: 58%;
    border-radius: 2px;
}

.pink-kontakt-center:hover {
    background-color: #bc004a;
}

.kontakt-center-heading {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.pink-rubrik {
    color: white;
}

.pink-rubrik:hover {
    text-decoration: underline;
}

.kommun-news-item {
    padding: 10px;
}

.kommun-news-item i {
    font-size: 1em;
    color: rgba(0,0,0,.4);
    margin-right: 5px;
}

.kommun-card-body {
    margin:0;
    padding: 0;
}

.kommun-card-wrapper {
    width: 100%;
}

.kommun-card {
    width: 100%;
}

.image-and-text-container {
    background-color: #cb0050;
    position: relative;
}

.image-left-div {
    width: 45%;
    background-image: url(https://helsingborg.se/wp-content/uploads/2020/04/h22-graffiti-1920x1080-1-scaled-960x540.jpg);
    background-size: cover;
    position: absolute;
    left: 0px;
    height: 100%;
    background-position: center center;
}

.text-right-div {
    width: 55%;
    right: 0%;
    margin-left: 45%;
    padding: 30px;
}

.text-right-content {
    width: 90%;
    color: white;
    margin: auto;
    padding: 20px 0px;
}

.image-header-text {
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
}

.image-info-text {
    margin-bottom: 30px;
}

.image-button {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 3px;
    margin-top: 20px;
    padding: 7px;
    font-size: 0.8em;
}

.image-button:hover {
    background-color: white;
    color: black;
}

/* uppleva page styles */

.multi-imagetext-container-nomargin {
    background-color: white;
    position: relative;
    display: inline-block;
    flex-wrap: wrap;
    width: 80%;
}
.image-container-xs {
    padding: 2mm;
    background-color: white;
    position: relative;
    display: inline-block;
    height: 350px;
    text-align: left;
    vertical-align: top;
    width: 49%;
}
.width-container-xs {
    width: 85%;
}
.orange-text {
    padding: 5mm;
    font-size: smaller;
}

.orange-text, .orange-text a:visited {
    color: #ae0b05;
}
.pink-bordertext {
    border-bottom: 3px solid #cb0050;
}
.box-container-pink, .pink-bordertop, .pink-bordertext, .pink-bordertext a:visited {
    color: #cb0050;
}

.box-container-pink p {
    width: 100%;
}

.pink-bordertop {
    border-top: 3px solid #cb0050;
}
.box-container-pink {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 5px;
}

.box-pink-whitetext {
    background-color: #cb0050;
    color: white;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: small;
}
.box-pink-whitetext a:visited{
    color: white;
}

.box-pink-whitetext .fa-arrow-circle-o-right {
    color: rgba(255, 255, 255, .6);
}
.smallertext {
    font-size: smaller;
}
ul.box-pink-whitetext {
    list-style-type: none;
}

/* CSS for search area on index page */

.search-area {
    height: 350px;
    position: relative;
}

.search-area-image {
    width: 100%;
    height: 100%;
    background-image: url(https://helsingborg.se/wp-content/uploads/2017/05/strandpromenad-1-anna-alexander-olsson-1800x350-1-1800x350.jpg);
    background-size: cover;
    background-position: center center;
}

.stripes {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    z-index: 99;
}

.stripes div {
    width: 20px;
    height: 20%;
}

.stripes div:nth-child(1) {
    background-color: #f7a600;
}

.stripes div:nth-child(2) {
    background-color: #cb0050;
}

.stripes div:nth-child(3) {
    background-color: #ec6701;
}

.stripes div:nth-child(4) {
    background-color: #ae0b05;
}

.stripes div:nth-child(5) {
    background-color: #e3000f;
}

.search-bar {
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40%;
}

.label {
    background-color: #ae0b05;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    height: 200px;
}

.search-input-container {
    display: table;
    position: relative;
    height: 40px;
    font-size: 1em;
    width: 100%;
}

.search-input {
    height: 54px;
    width: 75%;
    font-size: 1em;
    border: none;
    padding-left: 15px;
}

.search-button-index {
    height: 54px;
    width: 10%;
    font-size: 1em;
    background-color: #ec6701;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.search-button-index:hover {
    background-color: #dd6001;
}

/* CSS for Index Page */

.nav-bar-small-index {
    width: 100%;
}

.column-container {
    width: 80%;
    margin: auto;
}

.first-section {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    height: auto;
}

.second-section {
    width: 80%;
    margin: auto;
}

.first-section-content {
    flex: 1;
    max-width: 32%;
    align-self: flex-start;
}

.image-box-container {
    width: 100%;
    box-shadow: 0 2px 3px rgba(0,0,0,.08);
    max-height: 300px;
    min-height: 300px;
    overflow: hidden;
    margin-top: 10px;
}

.image-box-container {
    text-decoration: none;
}

.image-box-container img {
    width: 100%;
    position: relative;
    max-height: 200px;
    min-height: 200px;
}

.title-box {
    height: 100px;
    color: #cb0050;
    padding: 10px;
    font-size: 1.3em;
    background-color: #fff;
}

.title-box-text {
    width: 90%;
    display: inline-block;
}

.image-box-container a {
    text-decoration: none;
}

.questions-box {
    height: 100%;
    background-color: #fff;
    min-height: 300px;
}

.questions-box .box-header {
    margin-top: 5px;
}

.questions-content {
    height: 86%;
    display: flex;
}

.questions-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-shadow: 0 2px 3px rgba(0,0,0,.08);
}

.questions-list-item {
    border-top: 1px solid #e5e5e5;
    background: linear-gradient(to bottom,#fff,#f9f9f9);
    flex: 1;
    display: flex;
    padding-left: 10px;
    position: relative;
    align-items: center; 
    min-height: 51px;
}

.questions-list-item:hover {
    cursor: pointer;
}

.questions-list-item h4 {
    font-weight: normal;
    font-size: 1em;
}

.questions-list-item i {
    position: absolute; 
    right: 10px;
}

.accordion-panel-index {
    padding: 0 18px;
    background-color: #f4f4f4;
    display: none;
    height: auto;
    border-top: 1px solid #e5e5e5;
    padding: 10px 10px;
}

.accordion-panel-index article p {
    padding: 10px;
}

.accordion-panel-index article ul {
    margin-left: 30px;
    list-style-type: none;
}

.accordion-panel-index article ul li::before {
    color:  #ec6701;
    content: "\25AA";
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.event-list-item a {
    flex: 1;
}

.event-date {
    height: 100%;
    width: 10%;
    text-align: center;
    border-right: 1px solid #e5e5e5;
    padding-top: 4%;
}

.when {
    display: block;
    font-weight: bold;
}

.month-or-time {
    display: block;
    font-weight: lighter;
    font-size: 0.8em;
}

.event-footer {
    height: 10%;
    display: flex;
    background-color: #f6f5f2;
    border: 1px solid #e7e5e1
}

.event-footer ul {
    list-style-type: none;
    flex: 1;
    display: flex;
}

.event-footer li {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
}

.event-page-numbers span {
    margin: auto;
    padding: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .08);
    border-radius: 2px;
    background-color: #fff;
    font-weight: lighter;
}

.event-page-numbers span:hover {
    background-color: #cb0050;
    color: #fff;
    cursor: pointer;
}

.event-page-numbers .page-numbers-active {
    background-color: #cb0050;
    color: #fff;
}

.event-footer .more-events {
    flex: 10;
    text-align: right;
    display: flex;
}

.event-footer .more-events a {
    margin-left: auto;
    padding-right: 20px;
}

.event-page-numbers span, .more-events a {
    text-decoration: none;
    color: #000;
}

.more-events i, .more-events a {
    margin-right: 5px;
    color: #666666;
}

.slider-wrapper {
    margin: 0 10px;
}

.slideshow-container {
    max-width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
}



.mySlides {
    display: none; /* Hide the images by default */
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: 44px;
    height: 44px;
    margin-top: -18px;
    padding: 16px;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background: rgba(255,255,255,.75);
}

.next {
    right: 10px;
    border-radius: 50%;
}

.prev {
    left: 10px;
    border-radius: 50%;
}

.prev:hover, .next:hover {
    background-color: #fff;
}

.prev i, .next i {
    position: absolute;
    top: 15px;
    left: 17px;
}

.prev i {
    left: 14px;
}

/* CSS for the index page slider text & dots  */

.slider-info {
    color: #fff;
    background-color: #cb0050;
    opacity: 0.75;
    padding: 8px 12px;
    position: absolute;
    bottom: 22px;
    width: 100%;
    height: 100px;
    padding-bottom: 40px;
}

.slider-header {
    font-size: 1.3em;
}

.active, .dot:hover {
    background-color: #cb0050;
}

