/*General CSS for all pages/content */

/* Line nos.    Template Item

    35          CSS for the header
    155         News section template
    210         Contact Us
    330         footer
    432         Chat Bot & Scroll Elevator
    552         Share/Published info
    615         Picture Slider
    702         container for image-title-text combo and for multiple image-title-text combo
    780         CSS for boxes with heading and text


*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, system, Segoe UI, Tahoma, -apple-system;
}

.nav-bar-small a:hover, .nav-bar-main-item a:hover, .box-list-item a:hover, .event-list-item a:hover, .more-events a:hover {
    text-decoration: underline;
}

.header-80-width {
    width: 80%;
    display: flex;
    margin: auto;
    padding: 20px 0;
    height: 150px;
}

.header-left {
    min-width: 40%;
    height: 100%;
}

.header-right {
    min-width: 60%;
    height: 100%;
}

.nav-bar-small-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: flex-end;
    position: relative;
}

.nav-bar-small-item {
    list-style-type: none;
    padding: 5px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .08);
    float: right;
}

.nav-bar-small {
    width: 60%;
    position: absolute;
    top: 40%;
}

.nav-bar-small a {
    text-decoration: none;
    color: #000;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    opacity: 0.8;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.header-full-width {
    width: 100%;
    background-color: #ae0b05;
    height: 4em;
}

.nav-bar-main {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.nav-bar-main-item {
    list-style-type: none;
    width: auto;
    display: flex;
    padding: 5px;
    align-items: center;
}

.nav-bar-main-item a {
    text-decoration: none;
    color: #fff;
    flex: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

/* CSS for the News section template */

.two-boxes {
    width: 100%;
    display: flex;
    margin: 30px 0px;
}

.lined-box-half {
    flex: 1;
    margin: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .08);
}

.box-header {
    background-color: #ae0b05;
    height: 40px;
    color: #fff;
    padding: 10px;
}

.box-content, .event-content {
    height: 500px;
    background-color: #fff;
}

.box-list {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.event-list {
    list-style-type: none;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.box-list-item, .event-list-item {
    flex: 1;
    display: flex;
    align-items: center;
    border-top: 1px solid #e5e5e5;
}

.box-list-item a, .event-list-item a {
    text-decoration: none;
    color: #ae0b05;
    padding-left: 10px;
}

/* CSS for the Contact Us section */

.contact-container {
    background: linear-gradient(100deg, #cb0050 0, #fa1a74 100%);
    color: #fff;
}

.contact-text-container {
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.contact-info {
    flex: 2;
}

.contact-header, .contact-text {
    width: 70%;
}

.contact-text, .open-hours-times {
    font-size: 1.1em;
    padding-top: 20px;
}

.open-hours {
    flex: 1;
    padding-left: 24px;
    border-left: 4px solid rgba(255, 255, 255, .8);
}

.open-hours-heading {
    color: white;
}

.open-hours-times-list {
    list-style-type: none;
    margin-bottom: 5px;
    font-weight: lighter;
}

.open-hours-small {
    padding-top: 10px;
    font-size: 0.9em;
}

.contact {
    width: 80%;
    background: #fff;
    margin-top: 64px;
    background: linear-gradient(180deg, #fff 0, #f8f8f8 100%);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0.5px 1.8px rgba(0, 0, 0, .015), 0 1px 3.7px rgba(0, 0, 0, .022), 0 1.7px 5.8px rgba(0, 0, 0, .027), 0 2.6px 8.3px rgba(0, 0, 0, .031), 0 3.8px 11.3px rgba(0, 0, 0, .035), 0 5.3px 15.2px rgba(0, 0, 0, .039), 0 7.5px 20.5px rgba(0, 0, 0, .043), 0 11px 28.8px rgba(0, 0, 0, .048), 0 16.9px 44px rgba(0, 0, 0, .055), 0 30px 80px rgba(0, 0, 0, .07);
    display: flex;
    margin: auto;
    margin-top: 50px;
}

.contact-banner-item {
    flex: 1;
    border-left: 1px solid #dbdbdb;
    color: #000;
    padding: 10px;
}

.contact-banner-item-header {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.contact-banner-item img {
    flex: 1;
}

.contact-banner-item-title {
    flex: 5;
    padding-top: 15px;
    padding-left: 10px;
}

.contact-banner-item p {
    margin-top: 20px;
    height: 80px;
}

.contact-banner-link {
    border-top: 1px solid #dbdbdb;
    margin: 20px 0px;
    text-decoration: none;
    color: #ae0b05;
    text-align: right;
    padding-right: 10px;
    text-transform: uppercase;
    font-weight: bold;
    transition: font-size 0.5s;
    height: 20px;
    padding-top: 10px;
}

.contact-banner-extra {
    width: 80%;
    margin: auto;
    text-align: right;
    padding-top: 30px;
    padding-bottom: 60px;
    max-height: 110px;
    min-height: 110px;
}

.contact-banner-extra a {
    text-decoration: none;
    color: #fff;
    transition: font-size 0.5s;
    font-weight: bold;
}

.contact-banner-link a:hover, .contact-banner-extra a:hover {
    font-size: 1.1em;
}

/* CSS for the footer */

footer {
    padding: 30px 0px;
    background-color: #f4f4f4;
    color: #424242;
}

.footer-container {
    width: 80%;
    margin: auto;
    padding: 30px 0px;
    background-color: #f4f4f4;
}

.footer-address {
    padding-top: 30px;
}

.footer-light {
    font-size: 0.9em;
}

.footer-link-container, .footer-menu-container, .footer-address-container {
    padding-bottom: 30px;
}

.footer-link {
    margin-top: 15px;
    font-size: 0.9em;
}

.footer-link a {
    color: #000;
}

.footer-menu-link {
    width: 100%;
    background-color: rgba(0, 0, 0, .05);
    padding: 5px 10px;
    border-radius: 2px;
    margin-top: 4px;
    font-size: 0.9em;
}

.footer-menu-link a {
    text-decoration: none;
    color: #000;
    width: 100%;
    display: block;
}

.footer-menu-link:hover {
    background-color: rgba(0, 0, 0, .07);
}

.footer-form {
    width: 100%;
}

.footer-form-input {
    height: 30px;
    width: 100%;
    padding-left: 10px;
}

.social-media-container {
    width: 100%;
    position: relative;
    height: 80px;
}

.icon-list {
    width: 40%;
    padding-top: 30px;
    position: absolute;
    left: 40%;
    list-style-type: none;
}

.icon-list-item {
    display: inline-block;
}

.fa {
    max-width: 50px;
    color: #424242;
    transition: color 150ms;
}

.fa:hover {
    color: #000;
}

.fa-arrow-circle-o-right {
    margin-right: 5px;
}

.fa-arrow-circle-o-right:hover, .questions-list-item i:hover {
    color: #424242;
}

/* CSS for the Chat Bot & Scroll Elevator */

.chat {
    position: relative;
}

.chat-button {
    position: fixed;
    right: 20px;
    bottom: 60px;
    display: block;
    background-color: #ec6701;
    border-radius: 40px;
    height: 60px;
    width: 121.5px;
    color: white;
    line-height: 60px;
    cursor: pointer;
}

.chat-button-content {
    padding-left: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

.chat-button-content i {
    color: white;
    font-size: 1.4em
}

.chat-button-content i:hover {
    color: white;
}

.chat-box {
    position: fixed;
    right: 160px;
    bottom: 130px;
    display: none;
    margin: 0px;
    background-color: #F3F3F3;
    width: 350px;
    height: 350px;
    z-index: 99999;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    color: #424242;
    text-align: center;
}

#chat-clickme-display {
    display: none;
}

#chat-box-close {
    text-align: right;
    font-size: 1.5em;
    margin: 10px;
    cursor: pointer;
}

.chat-box img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 20px;
}

.chat-box h2 {
    margin-top: 10px;
    text-transform: none;
}

.chat-box-img {
    margin: auto;
    width: 200px;
    height: 200px;
}

.elevator-button {
    visibility: hidden;
    position: fixed;
    right: 20px;
    bottom: 10px;
    opacity: 0;
    transition: visibility 0s, opacity .3s ease-in-out;
    display: block;
    background-color: #cb0050;
    border-radius: 40px;
    height: 40px;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, .3);
}

.scroll-elevator-sticky {
    visibility: visible;
    opacity: 1;
}

.elevator-button:hover {
    background-color: #ec6701
}

.elevator-button a {
    color: #fff;
    line-height: 40px;
    font-size: 0.9em;
    padding-right: 15px;
    text-decoration: none;
    margin-left: 15px;
}

.elevator-button a i {
    padding-right: 10px;
    color: #fff;
}

.elevator-button a i:hover {
    color: #fff;
}

/* CSS for the Share/Published info */

.sharing-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.content-wrapper {
    width: 80%;
    margin-top: 10px;
    margin-left: 10px;
}

.sharing-left i, .sharing-right i {
    display: inline;
    font-size: 1.5em;
    margin: 5px;
}

.sharing-right i {
    color: #979797;
}

.sharing-right i:hover {
    color: #006ba1;
}

.sharing-left i {
    color: black;
}

.sharing-left, .sharing-right {
    padding: 10px;
}

.sharing-left {
    flex: 2;
    font-size: 1.1em;
}

.sharing-right {
    flex: 1;
    font-size: 1.2em;
    text-align: right;
    margin-right: 20px;
}

.sharing-list-item {
    display: inline;
    list-style-type: none;
}

.sharing-list-item a {
    text-decoration: none;
}

.share-span {
    display: none;
}

.publish-list {
    margin-top: 10px;
}

.publish-list-item {
    list-style-type: none;
}

/*CSS for Coronavirus div */

.coronavirus-box {
    background-color: #b1f5ff;
    color: #252525;
    padding: 15px;
    padding-left: 30px;
    width: 100%;
}

.corona-list-item a {
    color: #252525;
}

.corona-list-item:first-of-type {
    margin-bottom: 20px;
}

.corona-list {
    list-style-type: none;
    text-decoration: underline;
}

/* style for Picture Slider */

.galleryContainer {
    border: 1px solid black;
    color: white;
    display: inline-block;
    flex-wrap: wrap;
    height: auto;
    margin: auto;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.galleryContainer .content {
    background-color: rgb(203, 0, 80, 0.7);
    color: #fff;
    display: block;
    font-size: 1.2rem;
    padding: 20px;
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    top: auto;
    z-index: 2;
}

.gallerySmallContainer {
    border: 1px solid black;
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    z-index: 1;
    width: 50%;
    height: 50%;
}

h2 {
    color: black;
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
    text-transform: capitalize;
}

.captionTitle, .captionText {
    border: 0mm;
    color: white;
    padding: 0mm;
    text-align: left;
}

.captionTitle {
    font-size: 21.6px;
}

.captionText {
    font-size: 14.4px;
}

.buttonPrev, .buttonNext {
    display: inline-block;
    font-size: 1.5rem;
    position: absolute;
    top: 45%;
}

.buttonPrev {
    left: 3%;
}

.buttonNext {
    right: 3%;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 3;
}

.active, .dot:hover {
    background-color: #717171;
}

/* style for container that holds multiple image-title-text combo
     and for image-title-text combo
*/

.multi-imagetext-container {
    background-color: white;
    position: relative;
    display: inline-block;
    flex-wrap: wrap;
    margin: 5mm;
    left: 20%;
    width: 70%;
}

.image-container {
    background-color: white;
    position: relative;
    display: inline-block;
    height: 400px;
    margin: 5mm;
    text-align: left;
    vertical-align: top;
    width: 250px;
}

.image-container:hover {
    background: rgb(226, 218, 218);
}

.text-container {
    flex-wrap: wrap;
    text-align: left;
    text-decoration: none;
}

.pink-text {
    padding: 5mm;
    color: #cb0050;
}

.pink-text a:visited {
    color: #cb0050;
}

.black-text {
    padding: 0mm 5mm;
    color: black;
}

a {
    text-decoration: none;
}

i {
    font-size: 2rem;
    text-decoration: none;
}

/* CSS for boxes with heading and text */

.box-container-3-line {
    display: flex;
    max-width: 70%;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.box-3-line {
    width: 30%;
    margin-bottom: 20px;
    margin: 10px;
    border: 1px solid #e5e5e5;
    color: #252525;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .08);
    border-radius: 2px;
}

.box-item-3-line {
    text-decoration: none;
    color: black;
    display: block;
    line-height: 24px;
    font-size: 15px;
}

.box-content-3-line {
    padding: 32px;
    font-size: 15px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.box-3-line:hover {
    background-color: #e5e5e5;
    transition: .3s
}

.box-link-3-line {
    color: rgba(0, 0, 0, .4);
    font-size: 19px;
    margin: -2px 0px 0px;
    padding: 0px 20px 9.5px 0px;
}

.rubrik {
    color: #cb0050;
}

.box-3-line-pink {
    background-color: #cb0050;
}

.box-3-line-pink .box-item-3-line, .box-3-line-pink .rubrik {
    color: white;
}

.box-3-line-pink .fa-arrow-circle-o-right {
    color: rgba(255, 255, 255, .6);
}

.box-3-line-pink:hover {
    background-color: #cb0050;
}

.accordion-container {
    margin-top: 50px;
    margin-bottom: 50px;
    left: 0;
}

.accordion-title-text {
    background-color: #ae0b05;
    height: 60px;
}

.accordion-title-text h1 {
    color: #fff;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 25px;
    padding-top: 5px;
}

button.accordionbutton, .accordionli, .accordion-content {
    width: 100%;
    background-color: whitesmoke;
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    font-size: 18px;
    color: #444;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

button.accordionbutton:after {
    content: '\f055';
    font-family: "fontawesome";
    font-size: 14px;
    float: right;
}

button.accordionbutton.is-open:after {
    content: '\f056';
}

button.accordionbutton:hover, button.accordionbutton.is-open {
    background-color: #ddd;
}

.accordion-content {
    background-color: white;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    
}

.accordionli {
    list-style-type: none;
    padding: 5px 0px 5px;
    border: solid whitesmoke;
    padding: 15px 20px;
    font-size: 18px;
    color: #444;
}

.accordionli a, .accordion-content a, .accordionbutton a {
    text-decoration: none;
    color: #444;
}

.accordionli a:hover {
    text-decoration: underline;
}

.top-right-search-box {
    width: 38%;
    height: 30%;
    margin-left: 2%;
    position: absolute;
    top: 40%;
    right: 0%;
    border: 1px solid #e5e5e5;
}

.nav-searchbar {
    padding-left: 3%;
    padding-right: 3%;
    background-color: #ec6701;
    border: none;
    color: #fff;
    cursor: pointer;
    float: right;
    height: 100%;
}

#nav-bar-search {
    height: 100%;
    width: 65%;
    border: none;
    align-items: center;
    padding-left: 4%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.search-button {
    width: 35%;
    margin: 0;
    padding: 0;
    align-items: center;
}

.top-right-search-box i {
    margin-left: 10px;
}

.breadcrumbs {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #464646;
}

.breadcrumbs_item {
    display: inline-block;
}

.breadcrumbs_item:not(:last-of-type)::after {
    content: '/';
    margin: 0px 5px;
}

.breadcrumbs_link {
    text-decoration: none;
    color: #ae0b05;
}

.breadcrumbs_link:hover {
    text-decoration: underline;
}

.page-container {
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    display: flex;
}

.menu-left-div {
    flex: 1;
}

.main-content {
   flex: 3;
   margin-top: 70px;
   margin-left: 30px;
}

.box-with-shadow {
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .08);
}

.customer-feedback-box{
    background-color: #f4f4f4;
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 3px rgba(0,0,0,.08);
    padding: 16px;
    border-radius: 2px;
    margin-top: 20px;
    
}
.customer-feedback-title-box{
    color: #252525;
    font-size: 19px;
    line-height: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}
.customer-feedback-paragraph-box{
    font-size: .8em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}
.kontaktcenter a{
    color: #ae0b05;
    text-decoration: none;
}

.customer-feedback-btn-ja{
   
    border-radius: 2px;
    background-color: #e5e5e5;
    border: 2px solid #e5e5e5;

    padding: 8px 16px;
    font-family: system,"Segoe UI",Tahoma,-apple-system;
    font-size: .9em;
    font-weight: 500;
    line-height: 1.3;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 2.66667px;
}
.customer-feedback-btn-nej{
    border-radius: 2px;
    background-color: #e5e5e5;
    border: 2px solid #e5e5e5;
    appearance: none;
    display: inline-block;
    padding: 8px 16px;
    font-family: system,"Segoe UI",Tahoma,-apple-system;
    font-size: .9em;
    font-weight: 500;
    line-height: 1.3;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 2.66667px;
}
.customer-feedback-btn-ja:hover{
    background-color: rgb(195, 195, 195);
}
.customer-feedback-btn-nej:hover{
    background-color: rgb(195, 195, 195);
}